<!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="static/images/jear.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Hi I'm <a href="https://facebook.com/jearbecerro" target="_blank">Je Ar Becerro</a>, I am passionate about my work because I love what I do.</p>
            <p class="separator">I am innovative person and I thrive on challenge and constantly set goals for myself, so I have something to strive toward. I’m not comfortable with settling, and I’m always looking for an opportunity to do better and achieve greatness.</p>
            <p class="separator">
            <p>Building innovation to the world means solving a lot of problems. I'm on a mission to help businesses and entreprenuers in keeping up with the trend of this digital era.</p>
            <p>Innovation is taking two things that exist and putting them together in a new way. Just like traditional marketing and social media marketing combining together to do more success in business.</p>
            <p>Creativity is thinking up new things, innovation is doing the new things. The value of an idea lies in the using of it. The reasonable man adapts himself to the world; the unreasonable one persists in trying to adapt the world to himself. Therefore all progress depends on the unreasonable man.</p>
            <p>If your the reasonable man, you can join me to my mission and together we can achieve our business goals. If your not, let me enlighten you to the things you were confuse.</p>
          </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->
