 <!-- start sectoion contact -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6" align="center">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span>8600, Butuan City</span></li>
                <li><span>Agusan del Norte, Philippines</span></li>
                <li><span><a href="#contact">09101064727</a></span></li>
                <li><span><a href="#contact">jearbecerro@gmail.com</a></span></li>
              </ul>
              <p>Message me on messenger by clicking 'Send Message'</p>
             <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=496177857595304&autoLogAppEvents=1"></script>
             <div class="fb-page" data-href="https://www.facebook.com/jearbecerro" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/jearbecerro" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/jearbecerro">Je Ar Becerro</a></blockquote></div>               <blockquote cite="https://www.facebook.com/jearbecerro" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/jearbecerro">Je Ar Becerro</a></blockquote></div>

     
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->
