  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://facebook.com/jearbecerro" target="_blank"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://instagram.com/jearbecerro" target="_blank"><i class="ion-social-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC2MLFAzNB3sPMtFrrHWZAaQ?view_as=subscriber" target="_blank"><i class="ion-social-youtube"></i></a></li>
          <li><a href="https://github.com/jearbecerro" target="_blank"><i class="ion-social-github"></i></a></li>
          <li><a href="" target="_blank"><i class="ion-social-linkedin"></i></a></li>
        </ul>

      </div>

      <p>&copy; 2020 - All rights reserved.</p>

      

    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="static/lib/typed/typed.js"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Je Ar Becerro","a Web Developer","a Chatbot Developer", "a Freelancer", "a Social Media Marketer"],
           typeSpeed: 30,
            backSpeed: 40,
            backDelay: 4000,
            startDelay: 500,
            loop: true,
            showCursor: true
            });
            </script>

  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/typed/typed.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>

</body>

</html>
