 <!-- start section header -->
  <div id="header" class="home" >
  <!-- bg image in css -->  
    <div class="container">
      <div class="header-content">
        <h1>I'm <span class="typed-words"></span></h1>
        <p>developer, marketer, entrepreneur</p>

        <ul class="list-unstyled list-social">
          <li><a href="https://facebook.com/jearbecerro" target="_blank"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://instagram.com/jearbecerro" target="_blank"><i class="ion-social-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC2MLFAzNB3sPMtFrrHWZAaQ?view_as=subscriber" target="_blank"><i class="ion-social-youtube"></i></a></li>
          <li><a href="https://github.com/jearbecerro" target="_blank"><i class="ion-social-github"></i></a></li>
          <li><a href="" target="_blank"><i class="ion-social-linkedin"></i></a></li>
        </ul>

      </div>

    </div>
    <div style="padding-top: 2%;padding-left: 2%;padding-right: 2%;">
    <center><h2 style="font-size: 20px"> “For the things we have to learn before we can do them, we learn by doing them.” ― Aristotle</h2></center>
    </div>
  </div>
  <!-- End section header -->