<!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-list">

            <ul class="nav list-unstyled" id="portfolio-flters">
              <li class="filter filter-active" data-filter=".all">all</li>
              <li class="filter" data-filter=".web">website</li>
              <li class="filter" data-filter=".bot">chatbot</li>
              <li class="filter" data-filter=".smma">social media marketing</li>
            </ul>

          </div>

          <div class="portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="static/images/portfolio/chatbot2.jpg">
                <img src="static/images/portfolio/chatbot2.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Chatbot Development</p>
            </div>

             <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="static/images/portfolio/smma1.jpg">
                <img src="static/images/portfolio/smma1.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Social Media Marketing</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="static/images/portfolio/webdev1.jpg">
                <img src="static/images/portfolio/webdev1.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Web - development</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web ">
              <a class="popup-img" href="static/images/portfolio/webdev2.jpg">
                <img src="static/images/portfolio/webdev2.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Centralized Website</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web ">
              <a class="popup-img" href="static/images/portfolio/realestate.jpg">
                <img src="static/images/portfolio/realestate.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Real Estate Website</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web ">
              <a class="popup-img" href="static/images/portfolio/gym.jpg">
                <img src="static/images/portfolio/gym.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Gym Website</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web ">
              <a class="popup-img" href="static/images/portfolio/restaurant.jpg">
                <img src="static/images/portfolio/restaurant.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Restaurant Website</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web ">
              <a class="popup-img" href="static/images/portfolio/personal.jpg">
                <img src="static/images/portfolio/personal.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Personal Website</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web ">
              <a class="popup-img" href="static/images/portfolio/resume.jpg">
                <img src="static/images/portfolio/resume.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Personal-Resume Website</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail  all  smma">
              <a class="popup-img" href="static/images/portfolio/smma2.jpg">
                <img src="static/images/portfolio/smma2.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>SMMA - Analysis</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail  all  smma">
              <a class="popup-img" href="static/images/portfolio/smma3.jpg">
                <img src="static/images/portfolio/smma3.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>SMMA - Content Creation</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail  all  smma">
              <a class="popup-img" href="static/images/portfolio/ecommerce-fbAds.gif">
                <img src="static/images/portfolio/ecommerce-fbAds.gif" style="border-radius: 5px" alt="img">
              </a>
              <p>SMMA - Ecommerce</p>
            </div>

            

            <div class="col-lg-4 col-md-6 portfolio-thumbnail  all  smma">
              <a class="popup-img" href="static/images/portfolio/gym-ads2.jpg">
                <img src="static/images/portfolio/gym-ads2.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>SMMA - Gym Ads</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail  all  smma">
              <a class="popup-img" href="static/images/portfolio/dental-fbAds.jpg">
                <img src="static/images/portfolio/dental-fbAds.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>SMMA - Dental Ads</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail  all  smma">
              <a class="popup-img" href="static/images/portfolio/dental-ads.jpg">
                <img src="static/images/portfolio/dental-ads.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>SMMA - Dental Ads</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all bot ">
              <a class="popup-img" href="static/images/portfolio/insurance-coverage.jpg">
                <img src="static/images/portfolio/insurance-coverage.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>Insurance in Messenger Bot</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all bot">
              <a class="popup-img" href="static/images/portfolio/howbot.jpg">
                <img src="static/images/portfolio/howbot.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>How rule-base chatbot work</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all bot ">
              <a class="popup-img" href="static/images/portfolio/howbot2.jpg">
                <img src="static/images/portfolio/howbot2.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>How AI chatbots work</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all bot ">
              <a class="popup-img" href="static/images/portfolio/howbot3.jpg">
                <img src="static/images/portfolio/howbot3.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>How live chat works</p>
            </div>

             <div class="col-lg-4 col-md-6 portfolio-thumbnail all web bot">
              <a class="popup-img" href="static/images/portfolio/chatbotinweb.jpg">
                <img src="static/images/portfolio/chatbotinweb.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>A web with chatbot</p>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all bot ">
              <a class="popup-img" href="static/images/portfolio/whatbots.jpg">
                <img src="static/images/portfolio/whatbots.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>What are the questions your bot can ask a visitor?</p>
            </div>

           

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all web bot smma">
              <a class="popup-img" href="static/images/portfolio/manymore.jpg">
                <img src="static/images/portfolio/manymore.jpg" style="border-radius: 5px" alt="img">
              </a>
              <p>And many more!!!</p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->