 <!-- start section services -->
  <div id="services">
    <div class="container">
      <div class="section-title text-center">
        <h2>My Services</h2>
      </div>
        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-browsers-outline"></i>
            <span>WEBSITE</span>
            <p class="separator">Website development for Centralizd-Business-Transaction, Business/Personal Information website and etc.</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>
            <span>Social Media Marketing</span>
            <p class="separator">The use of social media platforms to build brand awareness or promote   particular products & services, generate leads, increase sales, and drive website traffic.</p>

          </div>
          <!--
          <div class="services-block">

            <i class="ion-ios-color-wand-outline"></i>
            <span>WEB DESIGN</span>
            <p class="separator">To an English person, it will seem like simplified English,told me what </p>

          </div>
          -->
          <div class="services-block">

            <i class="ion-social-android-outline"></i>
            <span>Chatbot</span>
            <p class="separator">Chatbot development particularly in Messenger as a Chat Marketing strategy to generate more leads and form it into sales. Also a business informational process for costumer relationship management.</p>

          </div>
        </div>

        <div align="center" style="padding-top: 5%; ">
        <h2>Why Me?</h2><br>
        <p>
        I'm an experience Website-Chatbot developer and Social Media Marketer.
        <br>
        My main priority is to exceed the clients’ expectations.
        <br>
        I offer services built on trust. 
        <br>
        I serve those who value commitment and integrity.
        <br>
        I support those who want to be more.
        <br>
        My services is in resoanble price.
         
        <br>
        <span id="dots"></span>
        </p>
        <span id="more">
        <br>
        <h2 style="font-size: 20px">Website Development</h2>
        <br>
        <div style="text-align: center; background-color: white;border-color: gray;border-radius: 10px; width: 70%">
        <p>
        <!--○ Free-Domain Name 'www.yourwebsite.com', 'info.yourwebsite.com', '.com', '.ph' & etc.
        <br><br>
        -->
        ○ Free-Hosting for <b>personal websites.</b>
        <br><br>
        ○ Free SSL (Secure Socket Layers) for <b>personal websites.</b>
        <br><br>
        ○ You can choose your web design through built in templates.
        <br><br>
        ○ Development Fee is in reasonable price.
        </p>
        </div>

        <br>
        <h2 style="font-size: 20px">Chatbot Development</h2>
        <div style="background-color: white;border-color: gray;border-radius: 10px; width: 70%">
        <p>
        ○ Chatbot in Messenger, Instagram and Twitter.
        <br> <br>
        ○ One-time payment unlike in any SaaS chatbot builder, no more ₱ 500/1,000/1,500/5,000+ monthly access. 
        <br> <br>
        ○ No limitations. ➜ <i>DM me for more details.</i>
        <br> <br>
        ○ You can create your chatbot conversation flow in bought Sales-Marketing, Business Operational and Costumer Service chatbot.
        <br><br>
        ○ Omni-channel Marketing ➜ (Messenger Marketing, Email Marketing, SMS Marketing)
        <br><br>
        ○ Development Fee is in reasonable price.
        <br><br><br>
        ○ Lifetime access to my SaaS Chatbot builder. ➜ <i style="color: gray;">on development</i>
        </p>
        </div>
        <br>
        <h2 style="font-size: 20px">Social Media Marketing Service</h2>
        <div style="background-color: white;border-color: gray;border-radius: 10px; width: 70%">
        <p>
        ○ Content Creation
        <br><br>
        ○ Photo Editing
        <br><br>
        ○ Video Editing
        <br><br>
        ○ Social Media Advertising ➜ Facebook Ads, Instagram Ads, Twitter Ads, Youtube and all the others.
        <br><br>
        ○ Chat Marketing.
        <br><br>
        ○ SEO.
        <br><br>
        ○ Service Fee is in reasonable price.
        </p>
        </div>
        </span>
        <button onclick="myFunction()" id="myBtn">More Details 🔻</button>
         <br><br>
        ➜ <i><a href="#contact">Contact</a> me for the pricing.</i>
        <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "More Details 🔻"; 
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Hide 🔺"; 
            moreText.style.display = "inline";
          }
        }
        </script>

        </div>
        
      
    </div>

  </div>
  <!-- end section services -->
